<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>jQuery table</title>
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<!-- Main page -->
<div class="container">
    <!-- Page utils -->
    <div class="d-flex justify-content-center my-3">
        <input type="text" id="searchInput" placeholder="Enter product name..." class="form-control w-25">
        <input type="button" id="searchButton" value="Search" class="btn btn-outline-secondary mx-2">
        <input type="button" id="addNewButton" value="Add new" class="btn btn-outline-secondary ml-auto">
    </div>
    <!-- Main table -->
    <table class="table table-bordered">
        <thead id="tableHead"></thead>
        <script type="text/template" id="tableHeadTemplate">
            <tr>
                <th>
                    <div class="d-flex justify-content-between">
                        <a href="#" id="nameColumn">Name</a>
                        <div><%= sortBy == 'name' ? arrow  : '' %></div>
                    </div>
                </th>
                <th>
                    <div class="d-flex justify-content-between">
                        <a href="#" id="priceColumn">Price</a>
                        <div><%= sortBy == 'price' ? arrow  : '' %></div>
                    </div>
                </th>
                <th>
                    <div>Actions</div>
                </th>
            </tr>
        </script>
        <tbody id="tableBody"></tbody>
        <script type="text/template" id="tableBodyTemplate">
            <% products.forEach((product) => { %>
            <tr>
                <td>
                    <div class="d-flex justify-content-between">
                        <a id="product<%=product.id%>EditLink" href="#"><%= product.name %></a>
                        <div><%= product.count %></div>
                    </div>
                </td>
                <td>
                    <div><%= product.price %></div>
                </td>
                <td>
                    <div class="d-flex justify-content-around">
                        <input type="button" id="product<%=product.id%>EditButton" value="Edit" class="btn btn-outline-secondary">
                        <input type="button" id="product<%=product.id%>DeleteButton" value="Delete" class="btn btn-outline-secondary">
                    </div>
                </td>
            </tr>
            <% }); %>
        </script>
    </table>
    <!-- Modal background -->
    <div id="modalFade" class="modalFade">
        <!-- Modal delete window -->
        <div id="modalDelete" class="modalDelete"></div>
        <script type="text/template" id="modalDeleteTemplate">
            <div class="modalHeader">Are you sure?<hr/></div>
            <div id="modalDeleteBody" class="modalBody">
                Are you sure you want to delete <%= product.name %>
            </div>
            <div class="d-flex justify-content-center">
                <input type="button" id="acceptDeletionButton" value="Yes" class="btn btn-outline-primary">
                <input type="button" id="rejectDeletionButton" value="No" class="btn btn-outline-primary">
            </div>
        </script>
        <!-- Modal edit window -->
        <div id="modalEdit" class="modalEdit"></div>
        <script type="text/template" id="modalEditTemplate">
            <div id="modalEditHeader" class="modalHeader"><%= product.name %><hr/></div>
            <div class="modalEditBody">
                <div class="d-flex flex-column">
                    <label for="product<%=product.id%>Name">Name:</label>
                    <input type="text" id="product<%=product.id%>Name" value="<%= product.name %>" class="w-50">
                </div>
                <div class="d-flex flex-column">
                    <label for="supplierEmail<%=product.id%>">Supplier email:</label>
                    <input type="text" id="supplierEmail<%=product.id%>" value="<%= product.email %>" class="w-50">
                </div>
                <div class="d-flex flex-column">
                    <label for="product<%=product.id%>Count">Count:</label>
                    <input type="text" id="product<%=product.id%>Count" value="<%= product.count %>" class="w-50">
                </div>
                <div class="d-flex flex-column">
                    <label for="product<%=product.id%>Price">Price:</label>
                    <input type="text" id="product<%=product.id%>Price" value="<%= product.price %>" class="w-50">
                </div>
                <div class="d-flex flex-row flex-wrap">
                    <label for="countrySelect" class="w-100">Delivery:</label>
                    <select id="countrySelect" class="h-25">
                        <option id="defaultOption" selected="selected"></option>
                        <% for (country in product.delivery) { %>
                            <option id="<%= country %>Option"><%= country %></option>
                        <% } %>
                    </select>
                    <div class="d-flex flex-column">
                        <% for (country in product.delivery) { %>
                        <div id="<%= country %>">
                            <div>
                                <input type="checkbox" id="<%= country %>SelectAllCities">
                                <label for="<%= country %>SelectAllCities">Select all</label>
                            </div>
                            <% for (city in product.delivery[country]) { %>
                                <div>
                                    <input type="checkbox" id="<%= city %>CheckBox">
                                    <label for="<%= city %>CheckBox"><%= city %></label>
                                </div>
                            <% } %>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div>
                    <input type="button" value="Save changes" id="acceptEdit" class="btn btn-outline-primary">
                    <input type="button" value="Cancel" id="rejectEdit" class="btn btn-outline-primary">
                </div>
            </div>
        </script>
    </div>
</div>

<script src="scripts/plugins/jquery.js"></script>
<script src="scripts/plugins/lodash.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>